/* Mobile stuff */
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .main_container {
    width: 100%;
  }
}

/* Core Containers */
html{
  font-family: 'TeXGyreAdventorRegular';
  font-weight: 400;
  font-style: normal;
  font-size: 24px; 
  font-variant: normal; 
  line-height: 26.4px;
}

body{
  background-image: url(
    'https://wallpaperaccess.com/full/8351171.gif'
  );
  background-repeat: no-repeat;
  background-color: rgb(81,72,205);
  background-size:100%;  
}


/* Core Classes */
.top_buttons{
  display:flex;
  width:100%;
  text-align: center;
}
.main_container {
  position:relative;
  align-items: center;
  display: flex;
  justify-content: center;
  width:100%;
  }
.button {
  flex-wrap: row wrap;
  flex-grow: 1;
  background-color: #7e90f8;
  border: black;
  border-style: groove;
  color: white;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
  position: relative;
}
#top {
  text-align: center;
  display: inline;
  font-size: 20px;
  padding: 10px;
  }
#main {
  text-align: center;
  display: inline-block;
}
#footer {
  text-align: center;
  display: inline;
  }



 /* unvisited link */
 a:link {
  color: white;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: rgb(228, 131, 41);
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
  cursor:grab;
}
/* selected link */
a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
} 



/*  About me (first page) */
#banana {
  padding: 2% 5% 1% 5%;
  display:flex;
  width: 300px;
  height:auto;
  position: static;
  margin: 0 auto; 
  justify-content: center;
}

#banana:hover{
  filter: invert(1);
}
.text_chunk{
  background-color: #7e90f8;
  color: white;
  box-shadow: 2px 2px 20px 23px rgb(198, 156, 236);
  display: flex;
  text-align: center;
  display: block;
  border-radius: 5%;

}
.text_chunk, p{
  padding: 5px;
}

/* My Projects (second page) */
.Nurture{
  padding: 2% 5% 1% 5%;
  align-items:stretch;
  text-align: center;
  display: flex;
}
#Nurture_PFP, img{
  border-radius: 8px;
  display: block;
  width: 300px; 
  height: auto;
  margin-right: auto;
}
#Nurture_Text{
  background-color: #7e90f8;
  color: white;
  box-shadow: 2px 2px 20px 23px rgb(198, 156, 236);
  display: block;
  text-align: center;
  width: 60%;
  border-radius: 15%;
  margin-left:18px;

}
#embed, iframe{
  height:300px;
  flex-shrink: 1;
}
.Azalea{
  padding: 2% 5% 1% 5%;
  align-items:stretch;
  text-align: center;
  display: flex;
}
#Azalea_PFP, img{
  border-radius: 8px;
  display: block;
  width: 300px; 
  height: auto;
  margin-right: auto;
  flex-shrink: 2;
}
#Azalea_Text{
  background-color: #7e90f8;
  color: white;
  box-shadow: 2px 2px 20px 23px rgb(198, 156, 236);
  display: flex;
  text-align: center;
  display: block;
  margin-left: auto;
  width: 60%;
  border-radius: 5%;
  
}
