/* Core Containers */
html{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px; 
  font-variant: normal; 
  line-height: 30px;
}

body{
  background-image: url(
    'https://wallpaperaccess.com/full/8351171.gif'
  );
  background-repeat: no-repeat;
  background-color: rgb(81,72,205);
  background-size:100%;  
}
img{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


/* Core Classes */
.top_buttons{
  display:flex;
  width:100%;
  text-align: center;
  flex-direction: row;
  position:relative;
}
.main_container {
  position:relative;
  align-items: center;
  display: flex;
  justify-content: center;
  width:100%;
  }
.button {
  flex-wrap: row wrap;
  flex-grow: 1;
  background-color: #7e90f8;
  border: 4px groove black;
  color: white;
  width:100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}
#top {
  text-align: center;
  display: inline;
  font-size: 20px;
  padding: 10px;
  }
#main {
  text-align: center;
  display: inline-block;
}
#footer {
  text-align: center;
  display: inline;
  }



 /* unvisited link */
 a:link {
  color: white;
  text-decoration: none;
}
/* visited link */
a:visited {
  color:blanchedalmond;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
  cursor:grab;
}
/* selected link */
a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
} 
/* h1 */
h1{
  font-size: 45px;
}


/*  About me (first page) */
#banana{
  padding-bottom: 1%;
  display:flex;
  height:auto;
  align-items: center;
  margin: 0 auto; 
  justify-content: center;
}

#banana:active{
  filter: invert(1);
}
.text_chunk{
  background-color: #7e90f8;
  color: white;
  box-shadow: 0px 20px 20px 5px rgb(0, 0, 0);
  display: flex;
  text-align: center;
  display: block;
  border-radius: 5%;
}
.text_chunk, p{
  padding: 5px;
}

/* My Projects (second page) */
.Nurture{
  padding: 2% 5% 1% 5%;
  align-items:stretch;
  text-align: center;
  display:flex;
  flex-direction:row;
}
/*#Nurture_PFP, img{
  border-radius: 8px;
  display: block;
  width: 300px; 
  height: auto;
  margin-right: auto;
}*/
#Nurture_Text{
  background-color: #7e90f8;
  color: white;
  box-shadow: 0px 20px 20px 5px rgb(0, 0, 0);
  display: block;
  text-align: center;
  width: 75%;
  border-radius:5%;
  margin-left:auto;
}
#Nurture_Info{
  padding:2px;
}
#embed{
  width:300px;
  height:325px;
  flex-shrink: 1;
  flex-direction: row;
}
.Azalea{
  padding: 2% 5% 1% 5%;
  align-items:stretch;
  text-align: center;
  display: flex;
}
#Azalea_PFP, img{
  border-radius: 8px;
  display: block;
  width: 300px; 
  height: auto;
  margin-right: auto;
  flex-shrink: 2;

}
#Azalea_Text{
  background-color: #7e90f8;
  color: white;
  box-shadow: 0px 20px 20px 5px rgb(0, 0, 0);
  display: flex;
  text-align: center;
  display: block;
  margin-left: auto;
  width: 75%;
  border-radius: 5%;
  
}

/* Mobile stuff */
@media (max-width: 1080px) {
  body {
    font-size: 16px; /* Smaller font size for readability */
    overflow-x: hidden; /* Prevent horizontal scroll */
  }
  #embed, #Nurture_Text, #Azalea_Text, #Azalea_PFP{
    margin:10px 20px 10px 0px;
  }
  h1{
    font-size:32px;
  }
}
